@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --font-oxanium: "Oxanium", sans-serif;
  --color-brand-primary: #2aabf7;
  --color-brand-accent: #E6AF2E;
}

/* Custom Scrollbar */
:root {
  scrollbar-color: white/50 transparent;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: white/50;
  border-radius: 10px;
}
